@media screen and (max-width:575px) {
    #banner{
        >#content_banner{
            h2{
                &:nth-of-type(1){
                    font-size: 18px;
                }
                &:nth-of-type(2){
                    font-size: 49px;
                }
            }
            h3{
                font-size: 22px;
            }
            h4{
                font-size: 18px;
            }
        }
    }
    #box_date{
        div{
            width: 23.333333%;
            >h2{
                font-size: 40px !important;
            }
            h4{
                font-size: 17px !important;
            }
        }
    }
    #date{
        padding-bottom: 50px;
        >figure:nth-of-type(1){

            >img{
                width: 80px;
            }
        }
        >figure:nth-of-type(2){

            >img{
                width: 80px;
            }
        }
    }
    #content_date{
        padding-bottom: 50px;
        >#content1{
            text-align: center;
                span{
                    font-size: 33px !important;
                }
        }
        #box_date{
            position: relative;
            z-index: 3;
        }
    }
    article>section>div{
        text-align: center;
        p{
            padding: 0 15px;
        }
    }
    #blogs{
        >article{
            &:nth-of-type(2){
                transition-delay: 1s !important;
            }
            &:nth-of-type(3){
                transition-delay: 2s !important;
            }
            >section{
                >h4{
                    margin: 0 auto;
                }
            }
        }
    }
    footer{
        >figure{
            width: 55px;
            height: 126px;
        }
        #shape-footer{
            width: 55px;
            height: 126px;
        }
        section{
            h2{
                font-size: 36px;
            }
            #copy{
                h5{
                    font-size: 1rem
                }
            }
        }
    }
    #card_couple{
        >section{
            &:nth-of-type(2){
                transition-delay: 2s !important;
            }
        }
}
}
@media screen and (min-width:576px) {
    #banner{
        >#content_banner{
            h2{
                &:nth-of-type(1){
                    font-size: 18px;
                }
                &:nth-of-type(2){
                    font-size: 49px;
                }
            }
            h3{
                font-size: 22px;
            }
            h4{
                font-size: 15px !important;
            }
        }
    }
    #date{
        padding-bottom: 25px;
        >figure:nth-of-type(1){

            >img{
                width: 80px;
            }
        }
        >figure:nth-of-type(2){

            >img{
                width: 80px;
            }
        }
    }
    #content_date{
        >#content1{
            text-align: center;
            span{
                font-size: 33px !important;
            }
        }
    }
    #box_date{
        div{
            >h2{
                font-size: 40px !important;
            }
            h4{
                font-size: 15px !important;
            }
        }
    }
    #box_date{
        position: relative;
        z-index: 3;
    }
    article>section>div{
        text-align: center;
        p{
            padding: 0 15px;
        }
    }
    #blogs{
        >article{
            &:nth-of-type(2){
                transition-delay: 1s !important;
            }
            &:nth-of-type(3){
                transition-delay: 2s !important;
            }
            >section{
                >h4{
                    margin: 0 auto;
                }
            }
        }
    }
    footer{
        >figure{
            width: 83px;
            height: 163px;
        }
        #shape-footer{
            width: 83px;
            height: 163px;
        }
        section{
            h2{
                font-size: 36px;
            }
            #copy{
                h5{
                    font-size: 1rem
                }
            }
        }
    }
    #card_couple{
        >section{
            &:nth-of-type(2){
                transition-delay: 2s !important;
            }
        }
}
}
@media screen and (min-width:768px) {
    header{
        nav{
            span{
                font-size: 43px !important;
            }
        }
    }
    #card_couple{
        >section{
            width: 48.888888%;
        }
    }
    #date{
        padding-bottom: 25px;
        >figure:nth-of-type(1){
            >img{
                width: 100px !important;
            }
        }
        >figure:nth-of-type(2){

            >img{
                width: 100px !important;
            }
        }
    }
    #blogs{
        >article{
            &:nth-of-type(2){
                transition-delay: 0s !important;
            }
            &:nth-of-type(3){
                transition-delay: 0s !important;
            }
            >section{
                >h4{
                    margin: 0;
                }
            }
        }
    }
    footer{
        section{
            h2{
                font-size: 42px;
            }
            #copy{
                h5{
                    font-size: 1.1rem
                }
            }
        }
    }
    #card_couple{
        >section{
            &:nth-of-type(2){
                transition-delay: 0s !important;
            }
        }
}
}
@media screen and (min-width:992px) {
    #banner{
        >#content_banner{
            h2{
                &:nth-of-type(1){
                    font-size: 30px;
                }
                &:nth-of-type(2){
                    font-size: 112px;
                }
            }
            h3{
                font-size: 30px;
            }
            h4{
                font-size: 28px;
            }
        }
    }
    #box_date{
        div{
            width: 20.555555%;
        }
    }
    #date{
        padding-bottom: 25px;
        >figure:nth-of-type(1){

            >img{
                width: 117px;
            }
        }
        >figure:nth-of-type(2){

            >img{
                width: 117px;
            }
        }
    }
    #content_date{
        >#content1{
            text-align: left;
            h3{
                font-size: 43px;
            }
            span{
                font-size: 40px;
            }
        }
    }
    #box_date{
        div{
            >h2{
                font-size: 50px !important;
            }
        }
    }
    article>section>div{
        text-align: left;
        p{
            padding: 0;
        }
    }

    article>section{
        div{
            padding-top: 50px;
        }
            &:nth-of-type(2){
                div{
                    h3{
                        width: 100%;
                        display: flex;
                        justify-content: flex-end;
                    }
                    p{
                        text-align: right !important;
                    }
                }
            }
        }
        #rsvp{
            >section{
                padding: 80px 50px !important;
            }
        }
        footer{
            section{
                h2{
                    font-size: 46px;
                }
            }
        }
}
@media screen and (min-width:1200px) {
    
}
@media screen and (min-width:1400px) {
    
}